@font-face {
    font-family: 'Vermin';
    src: url('./fonts-folder/Vermin Vibes V.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Vermin', sans-serif;
    background-color: #000000;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}
h1 {
    color: transparent;
    font-family: 'Vermin', sans-serif;
    -webkit-text-stroke: 1px white;
    font-size: 75px;
    margin: 0;
}
/* Neon flicker effect for h1 */
#neon-title {
  font-size: 50px;
  color: transparent;
  font-family: 'Vermin', sans-serif;
  -webkit-text-stroke: 1px white;
  margin: 0;

  text-shadow:
    0 0 5px #ffffff,
    0 0 10px #000000,
    0 0 20px #ffffff,
    0 0 40px #000000;

  animation: neonFlicker 2.5s infinite;
}

@keyframes neonFlicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
    text-shadow:
      0 0 5px #000000,
      0 0 10px #ffffff,
      0 0 20px #ffffff,
      0 0 40px #000000;
  }

  20%, 24%, 55% {
    opacity: 0.4;
    text-shadow: none;
  }
}

